*.sw*
*~
*.bak
*.tbl
configs/sim/autosave.halscope
*/autosave.halscope
configs/sim/hal_config.txt
configs/SDHS_EMC_01/backups/*
configs/SDHS_EMC_01/make_backup.sh
configs/SDHS_EMC_01/emc.var
configs/SDHS_EMC_01/hal_config.txt
